{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}

{% block content %}
<div class="container py-5">
<h1>Привет, я Вячеслав</h1>
<p>
  Я родился в городе Омске, 30 января 1986 года. В свои юные годы я учился на юриста, но, не нашел себя в этой профессии. 
  Вместо этого я начал заниматься диджейством и стал популярным диджеем в своем городе.
  Позже я решил изменить свою жизнь и занялся оптовой торговлей. Но и это занятие не удовлетворило моих амбиций, и я решил попробовать свои силы в сфере фотографии.
  Я начал работать в известной фото-студии "1901", в которой Юрий Дудь брал интервью у группы Grot. Там я смог получить опыт работы с профессиональным оборудованием и научился делать красивые фотографии.
  Некоторое время спустя в моей жизни появилось еще одно увлечение - программирование. Я выбрал для себя язык программирования Python и с тех пор стал пристально изучать его. 
  Я понимал, что это один из самых востребованных языков в IT-индустрии и намерен использовать его в своей будущей карьере.
  Кроме программирования, я также увлекаюсь волейболом и провожу свободное время на пляже или на специальных площадках. 
  Я нахожу в этом спорте не только физические преимущества, но и психологические - увлечение волейболом помогает мне снять стресс и настроиться на позитивный лад.
  В целом, я - человек, который не боится менять свою жизнь и искать новые увлечения. 
  Я уверен, что благодаря своему труду и упорству смогу достичь больших успехов во всех своих начинаниях. ©️ Generate by ChatGPT
</p>
</div>
{% endblock %}
