{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <h1><center>Вот что я умею</center></h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        Для создания сайта YaTube были использованы различные технологии, включая Python и Django.
        Python - это высокоуровневый язык программирования, который используется во многих областях, включая веб-разработку. 
        Python - один из самых популярных языков программирования, и его удобство и мощность делают его привлекательным выбором для многих проектов.
        Django - это веб-фреймворк для Python, который позволяет разработчикам быстро и легко создавать мощные и сложные веб-приложения. 
        Django предоставляет множество полезных функций и инструментов для работы с базами данных, формами, шаблонами и многим другим.
        С помощью Python и Django разработчики могут создавать веб-приложения любой сложности. Для создания YaTube использовался Django в связке с Python. 
        Это позволило создать мощный и функциональный сайт, который сочетает в себе простоту использования и эффективность.
        Кроме того, Python и Django позволяют легко интегрироваться с другими технологиями, что делает их универсальным решением для разработки веб-приложений. 
        Для YaTube также использовались другие технологии, включая HTML, CSS, JavaScript и PostgreSQL.
        В целом, использование Python и Django для создания YaTube позволило разработчикам создать мощное веб-приложение, которое предоставляет пользователям широкие возможности для обмена информацией и комментирования контента. 
        Эти технологии продолжают оставаться популярными среди веб-разработчиков благодаря своей эффективности, удобству и мощности. ©️ Generate by ChatGPT
      </p>
    </article>
  </div>
</div>
{% endblock %}
